body {
    background: #f0f0f0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* HEADER */
header {
    background: #3f334d;
    color: white;
    text-align: center;
}

#course-title {
    display: block;
    font-size: 1.5rem;
    padding: 15px;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-around;
    background: #574b60;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
    background: #546a76;
}

/* MAIN */
main {
    max-width: 1000px;
    margin: 40px auto 60px;
    padding: 10px;
}

h1 {
    text-align: center;
}

/* GRID */
.card-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/* CARD */
.card {
    background: #f5f5dc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    min-height: 100%;
}

.card h2 {
    background: #2c5673;
    color: white;
    margin: 0;
    padding: 12px;
    text-align: center;
    font-weight: 600;
}

.card h3 {
    margin: 10px 15px;
    text-align: center;
    text-decoration-line: underline;
}

.card p,
.card ul {
    padding: 15px 25px;
}

.card ul {
    padding-left: 35px;
}

/* LINKS */
.card a {
    color: #1a4d7a;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* ABOUT SECTION */
.about-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    padding: 15px;
    align-items: center;
}

.about-content img {
    width: 120px;
    justify-self: end;
    border-radius: 6px;
}

/* COUNTRY */
.country {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    padding: 15px;
    align-items: center;
}

.country img {
    width: 100px;
}

.country figcaption {
    font-size: 0.8rem;
    text-align: center;
}

/* FOOTER */
footer {
    background: #7d8491;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding: 5px;
}