body {
    margin: 0;
    font-family: Arial, sans-serif;

    /* REQUIRED: Grid on body */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
}

/* Header */
header {
    grid-area: header;
    background: #3f334d;
    color: white;
    padding: 20px 20px 0 20px;  /* no bottom padding */
}

/* Navigation (Flex required) */
nav {
    display: flex;
    justify-content: space-around;
    background: #574b60;

    margin-left: -20px;
    margin-right: -20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
    background: #546a76;
}

/* Main */
main {
    grid-area: main;
    background: #eaf0ce;
    padding: 20px;
}

/* Aside */
aside {
    grid-area: aside;
    background: #c0c5c1;
    padding: 20px;
}

/* Footer */
footer {
    grid-area: footer;
    background: #7d8491;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}